<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753719167263-ga45v1ork0l9hjrg22g4048kcp736294.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753719167263-ga45v1ork0l9hjrg22g4048kcp736294</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753719167263-6pqr4f8bq7bkfph2bp95sdmsv2urah0e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3GG_MDBcSPqc5bkDJo3UBdfn7lAWs9TM</string>
	<key>GCM_SENDER_ID</key>
	<string>753719167263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TenantManager</string>
	<key>PROJECT_ID</key>
	<string>tenantmanager-4d6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>tenantmanager-4d6ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753719167263:ios:6ab5caa2b419988262c82a</string>
</dict>
</plist>